@media only screen and ( max-width : 580px) {

   /* header {

        background-color:black;
    } */

    ul li a {

    padding: 5px 10px;

    }

  .title {


    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-40% , -50%);
    
  }

  .title h1 {

    color: white;
    font-size: 42px;
}
  .button {

    top: 70%;
    left: 27%;
    transform: translate(-1% , -50%);
  }
 
  }

    

    



